.carousel {
    width: 100%;
}

@media screen and (max-width:768px) {

    .carousel-item img {
        height: 80vh;
        object-fit: cover;
    }
}

.hot-button {
    position: relative;
    margin-left: 150px;
    margin-top: -45px;
}